

version: "3.8"

services:
  db:
    image: mysqlcompose
    restart: always
    env_file:
      - ./config/db.env
    ports:
      - 3306:3306
    networks:
      - backend

  backend:
    depends_on:
      - db
    image: flaskcompose
    ports:
      - 5000:5000
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge
  